#Myheader{ 
  color: red ;font: outline;
}

.colorul{
  color: firebrick;
}


p{
  color: gray
}

a{
  text-decoration: none

}
.colorgreen{
  color: green
}
span{
  color: blue
}
.dim {
  height: 300px;
  width: 300px;
  background-color: powderblue;
  float: right;
}
